body,
html {
  height: 150%;
  padding: 0;
  margin: 0;
  background-color: lightgray;
}
body {
  height: 70%;
  background-color: lightslategray;
}

/* inline */
.box {
  background-color: green;
  width: 200px;
  height: 200px;
  border: 1px black solid;
  display: inline-block;
  position: relative;
  top: 200px;
}
.box-child {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

/* position */
#static-box {
  /* 기본 위치 속성 */
  width: 300px;
  height: 300px;
  background-color: lightblue;
}
#fixed-box {
  color: white;
  width: 300px;
  height: 300px;
  background-color: blue;
  position: fixed;
  top: 50px;
  left: 450px;
}
.fixed-child {
  color: red;
  width: 100px;
  height: 100px;
  background-color: white;
  margin-top: 50px;
}

#abs-box {
  width: 300px;
  height: 300px;
  background-color: yellowgreen;
  position: relative;
}
.abs-child {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  right: 40px;
}
